#%RAML 1.0
---

title: VAT (MTD)
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml


documentation:
  - title: Context
    content: !include docs/context.md
  - title: Technical support
    content: !include docs/technicalSupport.md
  - title: Sandbox
    content: !include docs/sandbox.md


traits:
  contentType:
    headers:
      Content-Type:
        description: Specifies the format of the request body, which must be JSON.
        type: string
        required: true
        example: application/json
  testScenarioHeader:
    headers:
      Gov-Test-Scenario:
        description: Only in sandbox environment. See Test Data table for all header values.
        type: string
        required: false
        example: '-'


/vat:
  /{vrn}:
    uriParameters:
      vrn:
        description: Vat registration number.
        type: string
        example: "123456789"
    /obligations:
      displayName: Retrieve VAT obligations
      description: Retrieve VAT obligations
      get:
        displayName: Retrieve VAT obligations
        description: Retrieve VAT obligations
        (annotations.sandboxData): !include scenarios/vat-obligation-scenarios.md
        is: [headers.acceptHeader, contentType, testScenarioHeader]
        (annotations.scope): "read:vat"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:vat" ] } ]
        queryParameters:
         from:
           description: Obligations to return from date
           type: string
           example: 2017-01-25
           required: true
         to:
           description: Obligations to return up to date
           type: string
           example: 2017-01-25
           required: true
         status:
           description: Which obligation statuses to return (O=Open, F=Fulfilled, A=All)
           type: string
           example: A
           required: true
        responses:
          200:
            headers:
              X-CorrelationId:
                example: 5968c22d620000620096db5f
                description: Unique id for operation tracking
            body:
               application/json:
                 type: !include schemas/Obligations.json
                 example: !include examples/Obligations.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid VRN
                    value:
                      code: VRN_INVALID
                  invalidDateFrom:
                    description: Invalid date from
                    value:
                      code: INVALID_DATE_FROM
                  invalidDateTo:
                    description: Invalid date to
                    value:
                      code: INVALID_DATE_TO
                  invalidDateRange:
                    description: Invalid date range
                    value:
                      code: INVALID_DATE_RANGE
                  invalidStatus:
                    description: Invalid status
                    value:
                      code: INVALID_STATUS
    /return:
      displayName: Submit VAT return for period
      description: Submit VAT return for period
      uriParameters:
        periodKey:
          description: Identifier for the period of the VAT return
          type: string
          example: "#001"
      post:
        displayName: Submit VAT return for period
        description: Submit VAT return for period
        is: [headers.acceptHeader, contentType, testScenarioHeader]
        (annotations.scope): "write:vat"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:vat" ] } ]
        body:
          application/json:
            type: !include schemas/submitVatReturn.json
            example: !include examples/vatReturn.json
        responses:
          200:
            headers:
              X-CorrelationId:
                example: 5968c22d620000620096db5f
                description: Unique id for operation tracking
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid VRN
                    value:
                      code: VRN_INVALID
                  invalidPeriodKey:
                    description: Invalid period key
                    value:
                      code: INVALID_PERIOD_KEY
                  invalidRequest:
                    description: Invalid request
                    value:
                      code: INVALID_REQUEST
